<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAxOkfmCJeE8z_hnOz-j37VL5ueHsDEzg</string>
	<key>GCM_SENDER_ID</key>
	<string>106197719108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quotesquiz</string>
	<key>PROJECT_ID</key>
	<string>quotesquiz-26664</string>
	<key>STORAGE_BUCKET</key>
	<string>quotesquiz-26664.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106197719108:ios:54e3b62c8becee0197c411</string>
</dict>
</plist>